@import '../../assets/style/vars';

.header {
    height: $header-height;

    .logo {
        padding: 15px;

        img {
            height: 34px;
            display: block;
        }
    }

    .menu {
        button {
            margin: 0 5px;
        }
    }

    .counter {
        font-size: 12px;
        margin: 0 15px;
        padding-top: 30px;
    }

    .spacer {
        flex: 1 1 auto;
    }
}