<mat-toolbar class="header">
    <div class="logo">
        <img src="../../assets/logo-blue.svg" alt="logo">
    </div>
    <div class="spacer"></div>

    <pre class="counter">
        File itteration: {{itteration()}}.geojson
    </pre>
    <div class="menu">
        <button mat-raised-button color="default"
            (click)="toggleSimulation()">{{ !simulating ? 'start simulation' : 'stop simulation' }}</button>
        <button mat-raised-button color="accent" (click)="prev()">⊲ previous</button>
        <button mat-raised-button color="accent" (click)="next()">next ⊳</button>
        <button mat-raised-button color="warn" (click)="reset()">reset</button>
    </div>
</mat-toolbar>